# Arquivos de compilação TypeScript
dist/
*.js
*.js.map
*.d.ts

# Módulos / pacotes Node.js
node_modules/

# Arquivos de configuração do IDE (por exemplo, Visual Studio Code)
.vscode/

# Arquivos de log e debug
npm-debug.log
yarn-debug.log
yarn-error.log

# Arquivos de construção e configuração de desenvolvimento local
.env
bnk-umzq-nun